.card {
  background-color: var(--var-cor-azul-fundo-section);
  padding: 1rem;
  border-radius: 0.75rem;
  border: var(--var-borda-section);
  max-width: 300px;
  color: var(--var-cor-branca);
  font-family: "Poppins", sans-serif;
}

.title {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--var-cor-rosa);
  margin-bottom: 1.2rem;
}

.rulesContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-left: 1rem;
}

.ruleItem {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  font-size: 14px;
  line-height: 1.5;
  text-align: left;
}

.icon {
  color: var(--var-cor-rosa);
  flex-shrink: 0;
  margin-top: 2px;
  min-width: 16px;
  min-height: 16px;
}

@media (max-width: 768px) {
  .card {
    max-width: 100%;
    padding: 0.8rem;
  }

  .title {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .rulesContainer {
    gap: 8px;
    padding-left: 0.5rem;
  }

  .ruleItem {
    font-size: 13px;
  }
}