.regras {
    background-color: var(--var-cor-azul-fundo-section);
    border: var(--var-borda-section);
    border-radius: 12px;
    padding: 16px;
    color: var(--var-cor-branca);
    width: 320px;
}

.titulo {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 12px;
    color: var(--var-cor-branca);
}

.lista {
    list-style: disc;
    padding-left: 20px;
    margin: 0;
    display: grid;
    gap: 8px;
}

.item {
    font-size: 14px;
    color: var(--var-cor-cinza-titulos);
}