# ---- Python ----
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.manifest
*.spec

# ---- Virtual Environments ----
venv/
.código-fonte/backend/venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# ---- Django ----
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# ---- Envs ----
*.env
/codigo-fonte/backend/api/core/.env

# ---- VSCode ----
.vscode/
*.code-workspace
/codigo-fonte/backend/pmv-ads-2025-2-e5-proj-empext-t3-commander150.code-workspace

# ---- PyCharm ----
.idea/
/codigo-fonte/backend/.idea/
/backend/.idea/

# ---- System ----
.DS_Store
Thumbs.db
/api/torneios/migrations/
/api/usuarios/migrations/

.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/pmv-ads-2025-2-e5-proj-empext-t3-commander150.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
codigo-fonte/backend/.gitignore
codigo-fonte/backend/README.md
codigo-fonte/backend/api/core/teste.py

resumo_conteúdo_projeto.txt
node_modules/
