.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 100px;
  border: 2px solid var(--var-cor-rosa);
  border-radius: 12px;
  background-color: var(--var-cor-azul-fundo-section);
  color: var(--var-cor-branca);
  transition: 0.3s;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

.card.active {
  border-color: var(--var-cor-amarela);
  color: var(--var-cor-amarela);

  .cardCount {
    font-size: 20px;
    font-weight: bold;
  }

  .cardLabel {
    font-size: 14px;
  }
}

.card.inactive {
  border-color: var(--var-cor-rosa);
  color: var(--var-cor-rosa);

  .cardCount {
    font-size: 20px;
    font-weight: bold;
    color: var(--var-cor-cinza-titulos);
  }

  .cardLabel {
    font-size: 14px;
    color: var(--var-cor-cinza-titulos);
  }
}

.cardIcon {
  font-size: 28px;
  margin-bottom: 5px;
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  .card {
    width: 120px;
    height: 80px;
  }

  .cardIcon {
    font-size: 24px;
    margin-bottom: 4px;
  }

  .cardCount {
    font-size: 18px;
  }

  .cardLabel {
    font-size: 12px;
  }
}
