:root {
  --var-cor-dourado: #D4B400;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 150px;
  border: var(--var-borda-section);
  border-radius: 12px;
  background-color: var(--var-cor-azul-fundo-section);
  color: var(--var-cor-branca);
  transition: 0.3s;
  font-family: "Poppins", sans-serif;
}

.card.selected {
  border-color: var(--var-cor-dourado);
  color: var(--var-cor-dourado);
}

.card.selected .cardIcon,
.card.selected .cardCount,
.card.selected .cardLabel {
  color: var(--var-cor-dourado);
}

.cardIcon {
  font-size: 28px;
  margin-bottom: 5px;
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardCount {
  font-size: 20px;
  font-weight: bold;
}

.cardLabel {
  font-size: 14px;
}

@media (max-width: 768px) {
  .card {
    width: 120px;
    height: 80px;
  }

  .cardIcon {
    font-size: 24px;
    margin-bottom: 4px;
  }

  .cardCount {
    font-size: 18px;
  }

  .cardLabel {
    font-size: 12px;
  }
}