.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 100px;
  border: 2px solid #a78bfa;
  border-radius: 12px;
  background-color: #111827;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

.card.active {
  border-color: #facc15;
  color: #facc15;

  .cardCount {
    font-size: 20px;
    font-weight: bold;
  }

  .cardLabel {
    font-size: 14px;
  }
}

.card.inactive {
  border-color: #a78bfa;
  color: #a78bfa;

  .cardCount {
    font-size: 20px;
    font-weight: bold;
    color: #CFCFCF;
  }

  .cardLabel {
    font-size: 14px;
    color: #CFCFCF;
  }
}

.cardIcon {
  font-size: 28px;
  margin-bottom: 5px;
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}