.card {
  background-color: var(--var-cor-azul-fundo-section);
  padding: 1rem;
  border-radius: 0.75rem;
  border: var(--var-borda-section);
  max-width: 100%;
  color: var(--var-cor-branca);
  font-family: "Poppins", sans-serif;
  transition: all 0.2s ease-in-out;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-color: var(--var-cor-rosa);
}


.title {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--var-cor-rosa);
  margin-bottom: 1.2rem;
}

.tournamentInfo {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  text-align: left;
  padding-left: 1rem;
  gap: 12px ;
  font-size: 14px;
  margin-bottom: 12px;
}

.tournamentName {
  font-size: 14px;
  margin-bottom: 12px;
  text-align: left;
  padding-left: 1rem;
}

.acoes {
  margin-top: 12px;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.btnPrimary {
  background-color: var(--var-cor-primaria);
  color: var(--var-cor-branca);
}

.btnSecondary {
  background-color: var(--var-cor-secundaria);
  color: var(--var-cor-branca);
}



@media (max-width: 768px) {
  .card {
    max-width: 100%;
    padding: 0.8rem;
  }

  .title {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .tournamentInfo {
    grid-template-columns: 1fr;
    padding-left: 0.5rem;
    gap: 8px;
    font-size: 13px;
  }

  .tournamentName {
    font-size: 13px;
    padding-left: 0.5rem;
  }
}
