/* src/pages/TournamentInfo/style.module.css */
.container {
  padding: 5rem;
}

.header {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin-bottom: 0rem !important;
  margin-right: 1.3rem;
}

.buttonVoltarWrapper {
  display: flex;
  justify-content: flex-end;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  color: var(--var-cor-rosa);
}

.subtitle {
  font-size: 0.9rem;
  margin-bottom: 2rem;
  margin-left: 0.5rem;
  color: var(--var-cor-cinza-placeholder);
}

.grid {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 4rem;
  align-items: start; 
}

.up {
  display: inline-flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

.down {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.cardInfoTorneio{
  align-self: stretch;
  width: 100% !important;
}

.CardDescricao{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 87%;
  border: var(--var-borda-section);
  border-radius: 12px;
  background-color: var(--var-cor-azul-fundo-section);
  color: var(--var-cor-branca);
  transition: 0.3s;
  font-family: "Poppins", sans-serif;
}

.titleDescricao{
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--var-cor-rosa);
  margin-bottom: 1.2rem;
}

.descricao{
  color: var(--var-cor-branca);
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  padding: 1rem;
}

/* Mobile */
@media (max-width: 768px) {
  .container {
    padding: 1rem;
  }

  .header {
    margin-right: 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .subtitle {
    margin-left: 0;
    margin-right: 0;
    font-size: 0.7rem;
  }

  .grid {
    grid-template-columns: 1fr;
    gap: 0.1rem !important;
  }

  .cardInfoTorneio {
    width: 92% !important;
    min-width: 90% !important;
    max-width: 92% !important;
    align-self: center;
  }

.CardDescricao{
    width: 100% ;
    min-width: 90% ;
    max-width: 100% ;
    align-self: center;
}
}