.tournamentCard {
  background-color: var(--var-cor-azul-fundo-section);
  border-radius: 12px;
  padding: 16px;
  color: var(--var-cor-branca);
  width: 320px;
  border: var(--var-borda-section);
}

.tournamentHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tournamentHeader h3 {
  font-size: 16px;
  margin: 0;
}

.tournamentDescription {
  font-size: 14px;
  margin: 8px 0 12px;
  color: var(--var-cor-cinza-titulos);
}

.tournamentInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px 16px;
  font-size: 14px;
  margin-bottom: 12px;
}

.tournamentInfo svg {
  margin-right: 6px;
}

.statusTag {
  padding: 4px 10px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 600;
  color: var(--var-cor-branca);
}

.statusTag.em_andamento {
  background-color: #35AE11;
}

.statusTag.em_breve {
  background-color: #E4AF00;
}

.statusTag.encerrado {
  background-color: #111827;
  border: var(--var-borda-section);
}

.tournamentFooter {
  margin-top: 12px;
}
