/*As variáveis utilizadas vem do arquivo index.css principal*/

section {
  border: var(--var-borda-section);
}

li {
  list-style-type: none;
}

.container {
  min-height: 100vh;
  color:  var(--var-cor-cinza-titulos);
}

.conteudo {
  background-color: var(--var-cor-secundaria);
  max-width: 900px;
  margin: 0 auto;
  padding: 40px 20px;
}

.titulo {
  font-size: 42px;
  font-weight: 700;
  color: var(--var-cor-rosa);
  text-align: center;
}

.subtitulo {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  color: var(--var-cor-cinza-titulos);
  margin-bottom: 30px;
}

/* Cartão do torneio */
.cartaoTorneio {
  background-color: var(--var-cor-azul-fundo-section);
  padding: 20px;
  padding-top: 10px;
  border-radius: 12px;
  margin-bottom: 30px;
}

.nomeTorneio {
  font-size: 24px;
  font-weight: 600;
  text-align: left;

}

.descricaoTorneio {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  color: var(--var-cor-cinza-titulos);
  margin-top: -20px;
  margin-bottom: 30px

}

.detalhesTorneio {
  margin-top: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.linhaInfo {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 100%; /* garante que ocupe toda a linha */
  gap: 15px;
  font-size: 0.9rem;
  color: #ddd;
}

/* adiciona espaçamento entre os itens dentro das divs da esquerda e direita */
.linhaInfo > div {
  display: flex;
  align-items: center;
  gap: 15px;
}

.jogadoresInscritos {
  background-color: #2f3548;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 0.85rem;
  display: flex;
  align-items: center;
  gap: 5px;
}

/* Formulário */
.formulario {
  background-color: var(--var-cor-azul-fundo-section);
  padding: 25px;
  border-radius: 12px;
  margin-bottom: 30px;
}

.tituloSessao {
  font-size: 24px;
  font-weight: 600;
  text-align: left;
}

.subtituloSessao {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  color: var(--var-cor-cinza-titulos);
  margin-top: -20px;
  margin-bottom: 30px;
}

.grupoInputs {
  display: grid;
  gap: 15px;
  margin-bottom: 15px;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 15px 0;
  font-size: 13px;
}


.botoes {
  display: flex;
  gap: 15px;
  margin-top: 20px;
  justify-content: center; /* ou outro valor que preferir */
}

/* Regras */
.regras {
  background-color: var(--var-cor-azul-fundo-section);
  padding: 20px;
  border-radius: 12px;
  font-size: 30px;
  font-weight: 600;
  text-align: left;
}

.regras ul {
  margin-top: 10px;
  padding-left: 20px;
}

.regras li {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 400;
  font-style: regular;
  color: #ddd;
}
